.readus-banner {
    margin: 15px 0;
    margin: 0 auto;
}

.readus-title {
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
}

.readus-title__wr {
    display: inline-block;
    padding: 10px 30px;
    color: #222;
    position: relative;
    line-height: 28px;
}

.readus-title__wr:hover,
.readus-title__wr:focus {
    color: #222;
}

.readus-title__icon {
    height: 50px;
    width: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    font-size: 34px;
    display: inline-block;
    border-radius: 6px;
    color: #fff;
}

.readus-title__text {
    padding-left: 20px;
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
}

.readus-text {
    display: inline-block;
    line-height: 26px;
    vertical-align: middle;
    text-align: left;
}

.readus-list {
    font-size: 0;
    text-align: center;
}

.readus-list__item {
    display: inline-block;
    font-size: initial;
    text-align: center;
    vertical-align: middle;
    padding: 0 10px;
    margin-bottom: 10px;
}

.readus-btn {
    display: block;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    line-height: 50px;
    color: #829eb2;
    font-size: 20px;
    border: none;
    padding: 0;
    border-radius: 50%;
    border: 2px solid #829eb2;
    transition: all .3s;
}

.readus-btn:hover,
.readus-btn:focus {
    color: #fff;
    border-color: transparent;
}

.readus-btn.fb:hover,
.readus-btn.fb:focus,
.readus-title__icon.fb {
    background-color: #3b5ca2;
}

.readus-btn.vk:hover,
.readus-btn.vk:focus,
.readus-title__icon.vk {
    background-color: #45668e;
}

.readus-btn.ok:hover,
.readus-btn.ok:focus,
.readus-title__icon.ok {
    background-color: #ed812b;
}

.readus-btn.tw:hover,
.readus-btn.tw:focus,
.readus-title__icon.tw {
    background-color: #1da1f2;
}

.readus-btn.tg:hover,
.readus-btn.tg:focus,
.readus-title__icon.tg {
    background-color: #0088cc;
}

.readus-btn.tamtam:hover,
.readus-btn.tamtam:focus,
.readus-title__icon.tamtam {
    background-color: #697cff;
}

.readus-btn.inst:hover,
.readus-btn.inst:focus,
.readus-title__icon.inst {
    background-color: #e1306c;
}

.readus-btn.tamtam:hover path,
.readus-btn.tamtam:focus path {
    fill: #fff;
}

.readus-title__wr.fb {
    background-color: #ddefff;
    border-top: 2px solid #3b5ca2;
}

.readus-title__wr.vk {
    background-color: #e0f0ff;
    border-top: 2px solid #45668e;
}

.readus-title__wr.ok {
    background-color: #fce6cc;
    border-top: 2px solid #ed802b;
}

.readus-title__wr.tw {
    background-color: #ceeafc;
    border-top: 2px solid #1da1f2;
}

.readus-title__wr.tg {
    background-color: #cbeafc;
    border-top: 2px solid #0d88cc;
}

.readus-title__wr.tamtam {
    background-color: #dfe3ff;
    border-top: 2px solid #697cfe;
}

.readus-title__wr.inst {
    background-color: #f6d8e2;
    border-top: 2px solid #e1306c;
}

.readus-title__wr.inst strong {
    color: #e1306c;
}

.readus-title__wr.vk strong {
    color: #45668e;
}

.readus-title__wr.fb strong {
    color: #3b5ca2;
}

.readus-title__wr.tw strong {
    color: #1da1f2;
}

.readus-title__wr.ok strong {
    color: #ed802b;
}

.readus-title__wr.tg strong {
    color: #0d88cc;
}

.readus-title__wr.tamtam strong {
    color: #697cfe;
}

.readus-btn.tamtam svg {
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -7px;
}

.readus-title__icon.tamtam svg {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    height: 38px;
    margin-top: -4px;
}

.readus-btn.tamtam svg path {
    fill: #829eb2;
}

/*----------------------------------------------*/



@media screen and (min-width: 0px) {
    .readus-list {
        display: none;
    }

    .readus-title__wr {
        padding: 10px 15px;
    }

    .readus-title__icon {
        margin: 0 auto 10px;
        display: block;
    }

    .readus-title__text {
        padding: 0;
        font-size: 18px;
        line-height: 20px;
    }
}

@media screen and (min-width: 768px) {
    .readus-list {
        display: block;
    }

    .readus-title__wr {
        padding: 10px 30px;
    }

    .readus-title__icon {
        margin: 0;
        display: inline-block;
        float: left;
    }

    .readus-title__text {
        font-size: 24px;
        min-height: 50px;
        padding-left: 70px;
        line-height: 50px;
        display: block;
    }
}